<a href="https://colab.research.google.com/github/altinfinity-yt/Digitally2022/blob/main/Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists and Tuples

In [32]:
movie_titles = [
    "Eternal Sunshine of the Spotless Mind",
    "Memento",
    "Requiem for a Dream"
]

In [35]:
print(movie_titles)

['Eternal Sunshine of the Spotless Mind', 'Memento', 'Requiem for a Dream']

In [34]:
print(movie_titles[0])

Eternal Sunshine of the Spotless Mind

In [45]:
numbers = [1, 2, 4, 5]

In [40]:
numbers = numbers + [3]
print(numbers)

[1, 2, 4, 5, 3]

In [44]:
numbers.append(3)
print(numbers)

[1, 2, 4, 5, 3]

In [46]:
numbers.insert(2, 3)

print(numbers)

[1, 2, 3, 4, 5]

In [48]:
names = ("John", "Sarah", "Alice")
print(names)

('John', 'Sarah', 'Alice')

In [53]:
movies = [
    ("Eternal Sunshine of the Spotless Mind", 2004),
    ("Memento", 2000),
    ("Requiem for a Dream", 2000)
]
movies = movies + movies
print(movies)
print(movies[1][0])

[('Eternal Sunshine of the Spotless Mind', 2004), ('Memento', 2000), ('Requiem for a Dream', 2000), ('Eternal Sunshine of the Spotless Mind', 2004), ('Memento', 2000), ('Requiem for a Dream', 2000)]
Memento

In [56]:
movies = [
    "Eternal Sunshine of the Spotless Mind", 2004,
    "Memento", 2000,
    "Requiem for a Dream", 2000
]
movies = movies + movies
print(movies)
print(movies[2])

['Eternal Sunshine of the Spotless Mind', 2004, 'Memento', 2000, 'Requiem for a Dream', 2000, 'Eternal Sunshine of the Spotless Mind', 2004, 'Memento', 2000, 'Requiem for a Dream', 2000]
Memento

## Exercise to do:

In [57]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

print(movies)

[('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004), ('Memento', 'Christopher Nolan', 2000), ('Requiem for a Dream', 'Darren Aronofsky', 2000)]

In [58]:
movie = movies[0]
print(movie)

('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004)

## Conditionals:

In [ ]:
num1 = int(input('Enter a number '))
num2 = int(input('Enter another number '))

print(num1+num2)

Enter a number 3
Enter anothe number 5
8

In [ ]:
prompt = input('What do you want to convert ')
if prompt == 'temp':
  print('This is working')
else:
  print('this is also working')

What do you want to convert temp
This is working

In [ ]:
age = int(input("How old are you? "))

if age < 16:
      print("You are eligible for the child rate of 80p.")
elif age >= 60:
      print("You are eligible for the OAP rate of £1.")
else:
      print("You must pay the standard rate of £1.50.")

How old are you? 16
You must pay the standard rate of £1.50.

## Exercise to do:

In [ ]:
prompt = input('What do you want to convert ')
if prompt == 'temp':
  q1 = input ('celcius or farhenhiet? ')
  if q1 == 'celcius':
    num_1 = int(input('Enter the temperature in Celcius'))
    num_2 = ((num_1 * (9/5))+32)
    print('The temp in F is'+' '+ str(num_2))
  else:
    num_1 = int(input('Enter the temperature in Farhenheit '))
    num_2 = ((num_1 - 32)*(5/9))
    print("The temp in F is", num_2)
elif prompt == 'length':
  num_3 = int(input('Enter the length in m '))
  num_4 = num_3 * 39.37
  print(num_4)

What do you want to convert temp
celcius or farhenhiet? f
Enter the temperature in Farhenheit 0
The temp in F is -17.77777777777778

## Loops 1:

In [59]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

print(f"{movies[0][0]} ({movies[0][2]}), by {movies[0][1]}")
print(f"{movies[1][0]} ({movies[1][2]}), by {movies[1][1]}")
print(f"{movies[2][0]} ({movies[2][2]}), by {movies[2][1]}")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
Memento (2000), by Christopher Nolan
Requiem for a Dream (2000), by Darren Aronofsky

In [60]:
movie = movies[0]
print(f"{movie[0]} ({movie[2]}), by {movie[1]}")

movie = movies[1]
print(f"{movie[0]} ({movie[2]}), by {movie[1]}")

movie = movies[2]
print(f"{movie[0]} ({movie[2]}), by {movie[1]}")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
Memento (2000), by Christopher Nolan
Requiem for a Dream (2000), by Darren Aronofsky

In [61]:
for movie in movies:
      print(f"{movie[0]} ({movie[2]}), by {movie[1]}")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
Memento (2000), by Christopher Nolan
Requiem for a Dream (2000), by Darren Aronofsky

In [62]:
for movie in movies:
      # Check the title of the current movie is Memento
      if movie[0] == "Memento":
            # If the title is Memento, inform the user that the movie exists and break the loop
            print("Memento is in the movie library!")
            break

Memento is in the movie library!

In [63]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [66]:
for number in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

## Exercise to do:

In [67]:
employees = [
    ("Rolf Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15.50),
    ("Bob Smith", 20, 7.00)
]

In [69]:
total_pay = 0
for employee in employees:
    total_pay = employee[1] * employee[2]
    print(f"{employee[0]} has to be paid £{total_pay}")

Rolf Smith has to be paid £306.25
Anne Pun has to be paid £375.0
Charlie Lee has to be paid £775.0
Bob Smith has to be paid £140.0

## Loops 2:

In [ ]:
n = 1

while n < 5:
    print("Hello World")
    n = n+1

Hello World
Hello World
Hello World
Hello World

In [ ]:
n = 1

while n < 5:
    print("Hello World")
    n = n+1
    if n == 3:
        break

Hello World
Hello World

In [ ]:
n = 1

while n < 5:
    if n == 2:
        n = n+1
        continue
    print("Hello World")
    n = n+1

Hello World
Hello World
Hello World

In [ ]:
z = 0

while z < 3:
    if z == 0:
        print("z is",z)
        z += 1
    elif z == 1:
        print("z is",z)
        z += 1
    else:
        print("z is",z)
        z += 1

z is 0
z is 1
z is 2

In [ ]:
i = 0 
word = "Hello"

#print all letters except e and o

while i < len(word):
    if word[i] == "e" or word[i] =="o":
        i += 1
        continue

    print("Returned letter",word[i])
    i += 1

Returned letter H
Returned letter l
Returned letter l

In [ ]:
p = 5
sum = 0
count = 0

while p > 0:
    count += 1
    f = int(input("Enter the number "))
    sum += f
    p -= 1
  
average = sum/count
print("Average of given Numbers:",average)

Enter the number 5
Enter the number 5
Enter the number 5
Enter the number 5
Enter the number 5
Average of given Numbers: 5.0

In [ ]:
n = 1

while n <= 5:
    squareNum = n**2
    print(n,squareNum)
    n += 1

1 1
2 4
3 9
4 16
5 25

## Exercises to do:

In [ ]:
n = int(input("Enter a number: "))
rev = 0

while n!=0:
    r = n%10
    rev = rev * 10 + r
    n = n//10
    
print("Reversed number:",rev)

Enter a number: 768
Reversed number: 867

In [ ]:
i = 0
sum = 0
n = int(input("Enter the number n: "))

while  i <= n:
    if i % 2 == 0:
        sum += i
    i += 1
        
print("Sum of even numbers till n:",sum)

Enter the number n: 5
Sum of even numbers till n: 6

In [ ]:
n = int(input("Enter the number: "))
f =n
r = 1

while f != 0 :
    r *= f 
    f -= 1
print("Factorial of",n,"is:",r)

Enter the number: 4
Factorial of 4 is: 24